.main{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.contain{
    border: 1px solid cornflowerblue;
    border-radius: 2%;
    padding: 30px;
    margin: 20px;
    background-color: whitesmoke
}

.btn{
    margin-top: 50px;
}

.delete{
    margin-right: 10px;

}